@page "/counter"

<h1 class="text-2xl">MAUI + Blazor + Tailwind + DaisyUI</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Current count: @currentCount</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
